@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poiret+One&display=swap");

* {
  box-sizing: border-box;
  border-radius: 5px;
}

.title {
  margin-top: 150px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.intro {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
}

.wow{
  width: 460px;
  height: 70px;
}