@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap');

.title {
    margin-top: 100px;
	margin-left: auto;
    margin-bottom: 35px;
	width: auto;
	height: auto;
	text-align: center;
	top: 368px;
	font-family: 'Abhaya Libre', serif;
	font-style: normal;
	font-weight: 800;
	font-size: 6vw;
	line-height: 77px;
	color: #FFFFFF;
}