.white-background {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.88);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border: none;
}

.post-button {
    margin-left: 10px;

    margin-top: 30px;
}

.cancel-button {
    margin-top: 30px;
    background-color: lightgrey;
    color: #0c3c60;
}